.card-card-container {
  transition: 1s;
}

.card-card-container:hover {
  box-shadow: 10px 10px 34px -9px rgba(185,2,48,0.31);
}

.poke-number {
  font-size: 20px;
  color: red;
  text-align: justify;
}

.card-body{
  background-color: #ffe4eaa9;
}

.poke-name{
  color: #b90230 ;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.types-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.types {
  border-radius: 10px;
  padding: 1px 20px; 
  color: white;  
}

.btn-card{
  width: 100%;  
}

.btn-general {
  background-color: #b90230a9;
  color: white;
  letter-spacing: 0.5px;
  transition: 1s;
}

.btn-general:hover {
  background-color: white ;
  color: #b90230a9;
  letter-spacing: 0.5px;
}

/* Normal */
.slot-normal {
  background-color:  #acaa7a;
}

/* Fight */
.slot-fighting {
  background-color:  #c4312a;
}

/* Flying */
.slot-flying {
  background-color:  #9e8ec5;
}

/* Poison */
.slot-poison {
  background-color:  #9e4299;
}

/* Ground */
.slot-ground{
  background-color:  #dbca98;
}

/* Rock */
.slot-rock {
  background-color:  #e0c166;
}

/* Bug */
.slot-bug {
  background-color:  #aab93a;
}

/* Ghost */
.slot-ghost {
  background-color:  #71599a;
}

/* Steel */
.slot-steel {
  background-color:  #b8b8d2;
}

/* Fire */
.slot-fire {
  background-color:  #f17f2d;
}

/* Water */
.slot-water {
  background-color:  #6e8bc6;
}

/* Grass */
.slot-grass {
  background-color:  #79c251;
}

/* Electric */
.slot-electric {
  background-color:  #f7d233;
}

/* Psychic */
.slot-psychic {
  background-color:  #f15789;
}

/* Ice */
.slot-ice {
  background-color:  #98d6d5;
}

/* Dragon */
.slot-dragon {
  background-color:  #6357a6;
}

/* Dark */
.slot-dark {
  background-color:  #725a4a;
}

/* Fairy */
.slot-fairy {
  background-color:  #f7cbdf;
}

/* Fairy */
.slot-unknown {
  background-color:  #1c9784;
}

/* Fairy */
.slot-shadow {
  background-color:  #5e4b84;
}










