.App {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.App h1 {
  text-align: justify;
  margin-left: 10%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logo{
  height: 30px;  
}


.main { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .pokemon-types {
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.main .pokemon-types p {
  color: red;
} 

.main .pokemon-types .types-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 90%;
  gap: 20px;
}

.main .pokemon-types .types-container .btn-styles{
  color: white;
  width: 80px;
  border-radius: 10px;
  border: none;
  outline: none;
  
}

.main .card-container{
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;

}
.main .btn-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.footer ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}